.tableHeading{
  font-size: 25px;
}

.tableMenu{
  width: 100%;
}

.profileTable{
  width: 90%;
}

.viewAndEditProf{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 90%;
}

.profileAndConnections{
  display: flex;
  flex-direction: row;
}

.editProfilePic{
  position: absolute;
  left: 14%;
  top: 57%;
}

.editCoverImage{
  position: absolute;
  left: 93%;
  top: 65%;
}