.main_container_1 {
  width: auto;
  background-color: #191a1a;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
}

.project_manager{
  display: flex;
  flex-direction: row;
}


.blogBar {
  margin:10px;
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  font-size: larger;
  
}

.blogSelectionMenu{
  margin-right: 25px;
  cursor: pointer;
}

.blogCardsSection {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 15px;
  margin-left: 25px;
  flex-wrap: wrap;
  width: 1150px;
}


.pathAndButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
  justify-content: space-between;
  width: 1130px;
}


.path_Details {
  margin: 25px;
  font-size: 20px;
}

.spinner {
  z-index: 100;
}

.createBlogButton {
  background-color: #3900dc;
  color: white;
  border-radius: 25px;
  width: 150px;
  height: 45px;
  outline: none;
  border: none;
  font-size: 12px;
  cursor: pointer;
}

