.inputSearchBar:focus {
  outline-offset: -2px;
}


.inputSearchBar::placeholder{
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
}

/* .container {
  width: 100%;
} */

/* #submitsearch {
  border: 1px solid rgb(138, 134, 134);
  margin-left: -82px;
  padding: 5px;
  border-radius: 19px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 8px;
  padding-top: 4px;

  display: none;
  box-shadow: 0 0 1px black;
  margin-right: 110px;
} */

#searchInput {
    width: 500px;
    color:white;
  border: 1.3px solid #A2A2A2;
  border-radius: 5px;
  font-size: 16px;
  background-color: #18191A;
  background-image: url("../../../images/Icons/search_icon.svg");
  background-position: 15px 7px;
  background-repeat: no-repeat;
  background-size: 25px;
  padding: 8px 20px 8px 40px;
  -webkit-transition: width 0.8s ease-in-out;
  transition: width 0.8s ease-in-out;
  outline: none;
  opacity: 0.9;
  font-family: 'Avenir LT Pro';
}
