
.main {
  display: flex;
  flex-direction: column;

  scroll-behavior: smooth;
}

.mainPage {
  width: 100%;
  background-image: url("../../images/landingbg.png");
  background-size: cover;
  height: 660px;
  background-repeat: no-repeat;
  backdrop-filter: blur(76px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.ccGirl {
  margin-top: 80px;
}

.content {
  margin-top: 170px;
}

.tagline {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
}

.subTagline {
  color: #fff;
}

.getInTouch {
  margin-top: 15px;
  color: white;
  border-radius: 5px;
  background-color: black;
  width: 194px;
  height: 42px;
  cursor: pointer;
}

.fullImage {
  width: 600px;
  height: 515px;
}
