.main {
  display: flex;
  flex-direction: column;
}

.mainPage {
  width: 100%;
  background-image: url("../../images/landingbg.png");
  background-size: cover;
  height: 660px;
  background-repeat: no-repeat;
  backdrop-filter: blur(76px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ccGirl {
  margin-top: 80px;
}

.content {
  margin-top: 170px;

}

.tagline {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
}

.subTagline {
  color: #fff;
}

.getInTouch {
  margin-top: 15px !important;
  color: white !important;
  border-radius: 5px !important;
  background-color: rgb(24, 24, 24) !important;
  width: 194px !important;
  height: 42px !important;
  cursor: pointer !important;
}

a {
  text-decoration: none;
}

.fullImage {
  width: 600px;
  height: 515px;
}

