.main {
  display: flex;
  flex-direction: column;
}

.mainPage {
  width: 100%;
  background-image: url("../../images/landingbg.png");
  height: 660px;
  background-repeat: no-repeat;
  backdrop-filter: blur(76px);
  display: flex;
  flex-direction: row;
}

.concentricCircles {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.ccGirl {
  margin-top: 80px;
  padding-left: 220px;
  padding-right: 0px;
}

.girl {
  position: absolute;
  top: 160px;
  left: 940px;
  z-index: 2;
}

.ai,
.a,
.rhino,
.ps,
.an,
.diamond {
  position: absolute;
  z-index: 2;
  height: 90px;
  width: 90px;
}

.ai {
  top: 150px;
  left: 910px;
}

.a {
  top: 290px;
  left: 840px;
}

.rhino {
  top: 455px;
  left: 860px;
}

.ps {
  top: 140px;
  left: 1180px;
}

.an {
  top: 270px;
  left: 1250px;
}

.diamond {
  top: 400px;
  left: 1320px;
}

.userrev {
  position: absolute;
  z-index: 2;
  top: 510px;
  left: 1110px;
  height: 75px;
  width: 220px;
}

.content {
  margin-top: 170px;
  margin-left: 190px;
}

.tagline {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
}

.subTagline {
  color: #fff;
}

.getInTouch {
  margin-top: 15px;
  color: white;
  border-radius: 5px;
  background-color: black;
  width: 194px;
  height: 42px;
  cursor: pointer;
}
