.main {
  background-color: #18191a;
  color: white;
  height: 100%;
  
}


.rowflex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.NT {
  margin-left: 2%;
  margin-bottom: 1em;
}

.submitButton {
  background-color: #3900dc;
  color: white;
  border-radius: 10px;
  border: none;
  width: 340px;
  height: 35px;
  cursor: pointer;
}

.textareaBio {
  background-color: #18191a;
  margin-left: 2%;
  width: 90%;
  height: 145px;
  border-radius: 5px;
  color: white;
}

.mainInput {
  background-color: #18191a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.7%;
  height: 387px;
}

.title {
  font-size: larger;
}

.inputContainer {
  background-color: #18191a;
  margin-top: 2.5em;
  width: 250px;
  height: 25px;
  border-radius: 5px;
  color: white;
  padding: 5px;
  padding-left: 7px;
}
::placeholder {
  text-align: center;
  color: rgb(206, 206, 206);
}

#scrollControl {
  overflow: auto;
  height: 100%;
}

#scrollControl::-webkit-scrollbar {
  display: none;
}

#scrollControl {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.shareOption input[type="file" i]::-webkit-file-upload-button{
  background-color: #3a3b3c;
  border-radius: 15px;
  width: 110px;
  height: 30px;
  color: white;
  border:1px solid #585858;
  cursor: pointer;
}

.textareaBio{
  padding: 7px;
}

.buttonWidth{
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputField{
  background-color: transparent;
  color: white;
  padding: 2px;
  padding-left: 8px;
  border-radius: 5px;
  height: 30px;
}

.textAreaCC{
  width: 345px;
  margin-left: 0px;
  color: white;
  padding: 2px;
  padding-left: 8px;
}