.share {
  width: 100%;
  border-radius: 10px;
  background-color: #242526;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.shareWrapper {
  padding: 10px;
  border: 0.2px solid #585858;
  border-radius: 8px;
}

.createPostIcon{
  height: 18px;
  width: 18px;
  margin-right: 10px;
  margin-left: 15px;
  
}

.createPostText{
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
}

.shareTop {
  border: 1px solid #585858;
  border-radius: 10px;
  display: flex;
  align-items:flex-start;
  margin: 15px;
}

.shareProfileImg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin: 15px;
  margin-right: 0px;
}



.shareInput {
  border: 0px solid ;
  background-color: #242526;
  width: 85%;
  height: 80px;
  padding: 2%;
  padding-left: 0%;
  padding-top: 3%;
  margin-bottom: 10px;
  color:white;
}

.shareInput::placeholder{
  text-align: start;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
  /* margin: 20px; */
  width: 90%;
}

.shareBottom {
  margin: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.shareOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
  height: 40px;
}

.shareIcon {
  font-size: 18px;
  margin-right: 3px;
}

.shareOptionText {
  font-size: 14px;
  font-weight: 500;
  margin-right: 25px;
}

.shareButton {
  border: none;
  padding: 7px;
  border-radius: 20px;
  background-color: #3900dc;
  font-weight: 500;
  cursor: pointer;
  color: white;
  width: 15%;
  margin: 20px;
  margin-top: 10px;
}


.shareImgContainer {
  padding-top: 0 20px 10px 20px;
  position: relative;
}

.shareImg {
  width: 100%;
  object-fit: cover;
}

.shareCancelImg {
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  opacity: 0.7;
}

.fileBase {
  margin: 100px !important;
}

.shareOption input[type="file" i]::-webkit-file-upload-button{
  background-color: #3a3b3c;
  border-radius: 15px;
  width: 110px;
  height: 30px;
  color: white;
  border:1px solid #585858;
  cursor: pointer;
}

.Feelings,.Location{
  background-color: #3a3b3c;
  border-radius: 15px;
  width: 110px;
  height: 30px;
  color: white;
  border:1px solid #585858;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content:start;
  align-items: center;
  font-size: 12px;
}

.Feelings{
  margin-right: 10px;
}

.postButtons{
  display: flex;
  flex-direction: row;
}


.locationIcon{
  height: 13px;
  width: 13px;
  margin-right: 8px;
  margin-left: 4px;
}


.smileyIcon{
  height: 16px;
  width: 16px;
  margin-right: 8px;
  margin-left: 4px;
}