.main{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #717474;
    padding: 1.5%;
    width: 18%;
    transition: 0.5s;
}

.mainHeading{
    font-size: 19px;
    margin: 10px;
    margin-bottom: 15px;
}

.news{
    border: 0.5px solid #717474;
    border-radius: 5px;
}