.main_container {
  width: 100%;
  background-color: #191a1a;
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Product Sans";
}

.project_manager {
  display: flex;
  flex-direction: row;
}

.project_view {
  display: flex;
  flex-direction: column;
  margin: 3%;
  width: 75%;
}

.path_Details {
  font-size: x-large;
  font-weight: 300;
}

.blogTitle {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  background-color: #191a1a;
  margin-top: 15px;
  margin-bottom: 0px;
}

.blogContent {
  margin-top: 10px;
}

.image {
  height: 150px;
  width: 250px;
}
