.profile_view {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #717474;
    padding: 1.5%;
    padding-top: 2%;
    width: 18% !important;
    min-width: 18%;
    transition: 0.5s;
    height: 95%;
    min-height: 95%;
  }
  
  .profile_stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #717474;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    height: 270px;
  }
  
  .profile_pic {
    height: 45px;
    width: 45px;
    position: relative;
    top: 22%;
  }
  
  .profile_info {
    text-align: center;
    font-weight: 600;
    margin-top: 135px;
    font-size: larger;
    font-family: 'Avenir LT Pro Black';
  }
  
  #friendsAndGroups {
    font-family: 'Avenir LT Pro';
    font-size: 11px;
    padding-top: 5px;
  }

  #friendsAndGroupsNumbers {
    font-family: 'Avenir LT Pro Black';
    font-size: small;
  }
  
  
  .profile_details{
    display: flex;
    flex-wrap: wrap;
    width: 107%;
    margin-left: -7px;
  }

  .navigationButton {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 10px;
    align-items: center;
    border: 0.5px solid #717474;
    border-radius: 5px;
    background-color: #191a1a;
    color: white;
    font-weight: 400;
    width: 45%;
    margin: 6px;
    margin-right: 3px;
    margin-top: 3px;
    height: 43px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
  }
  
  .navigationButton:hover {
    background-color: #717474;
    border-color: #cdcfcf;
  }
  
  .buttonHeading {
    width: 100px;
    text-align: start;
    margin-left: 15px;
    font-family: 'Avenir LT Pro';
  }
  
  .buttonIcon {
    width: 20px;
    height: 20px;
  }
  .pro_subscription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 7px;
    border: 0.5px solid #717474;
    border-radius: 5px;
    padding-bottom: 15px;
  }

  .proImage {
    width: 40%;
  }
  
  .buttonName {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  
  .shrinker {
    text-align: center;
    background-color: #00a6ff;
    color: white;
    border-radius: 25px;
    width: 40%;
    height: 20px;
    margin-left: 5rem;
    margin-bottom: 7px;
    margin-top: 0px;
    border: 0px;
    cursor: pointer;
    font-size: x-small;
  }
  
  .expander {
    text-align: center;
    background-color: #00a6ff;
    color: white;
    border-radius: 25px;
    width: 45px;
    height: 45px;
    margin-left: 50px;
    margin-bottom: 7px;
    margin-top: 0px;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .expansionMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    width: 1%;
  }
  

  .xp_circle{
    position:absolute;
    top: 18%;
    width: 9rem;
    height: 9rem;
  }