#stories-wrapper {
    width: 100%;
    margin-bottom: 20px;
    
  }
  
  #stories-container {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  .story {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    margin: 0 5px;
  }

  /* #addToStory .profile img{
    width: 35px;
    height: 35px;
  } */
  
  .story .profile {
    background: rgb(255, 201, 0);
    background: linear-gradient(
      36deg,
      rgb(255, 201, 0) 13%,
      rgb(255, 0, 95) 73%,
      rgb(255, 9, 237) 100%
    );
    padding: 3px;
    margin: 2px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
  }
  
  .story .profile img {
    width: 54.9px;
    height: 54.9px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    border: 5px solid var(--bg-color);
    box-sizing: content-box;
  }
  
  .story .title {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 5px 0;
  }
  
  .story .profile.visited {
    background: #ccc;
  }
  
  .story.active .profile {
    animation-duration: 1s;
    animation-name: story;
    animation-iteration-count: 10;
  }
  
  @keyframes story {
    0% {
      background: linear-gradient(
        36deg,
        rgb(240, 238, 238) 0%,
        rgb(255, 255, 255) 25%,
        rgb(255, 201, 0) 28%,
        rgb(255, 0, 95) 73%,
        rgb(255, 9, 237) 100%
      );
    }
  
    10% {
      background: linear-gradient(
        72deg,
        rgb(240, 238, 238) 0%,
        rgb(255, 255, 255) 25%,
        rgb(255, 201, 0) 28%,
        rgb(255, 0, 95) 73%,
        rgb(255, 9, 237) 100%
      );
    }
  
    20% {
      background: linear-gradient(
        108deg,
        rgb(240, 238, 238) 0%,
        rgb(255, 255, 255) 25%,
        rgb(255, 201, 0) 28%,
        rgb(255, 0, 95) 73%,
        rgb(255, 9, 237) 100%
      );
    }
  
    30% {
      background: linear-gradient(
        144deg,
        rgb(240, 238, 238) 0%,
        rgb(255, 255, 255) 25%,
        rgb(255, 201, 0) 28%,
        rgb(255, 0, 95) 73%,
        rgb(255, 9, 237) 100%
      );
    }
  
    40% {
      background: linear-gradient(
        180deg,
        rgb(240, 238, 238) 0%,
        rgb(255, 255, 255) 25%,
        rgb(255, 201, 0) 28%,
        rgb(255, 0, 95) 73%,
        rgb(255, 9, 237) 100%
      );
    }
  
    50% {
      background: linear-gradient(
        216deg,
        rgb(240, 238, 238) 0%,
        rgb(255, 255, 255) 25%,
        rgb(255, 201, 0) 28%,
        rgb(255, 0, 95) 73%,
        rgb(255, 9, 237) 100%
      );
    }
  
    60% {
      background: linear-gradient(
        252deg,
        rgb(240, 238, 238) 0%,
        rgb(255, 255, 255) 25%,
        rgb(255, 201, 0) 28%,
        rgb(255, 0, 95) 73%,
        rgb(255, 9, 237) 100%
      );
    }
  
    70% {
      background: linear-gradient(
        288deg,
        rgb(240, 238, 238) 0%,
        rgb(255, 255, 255) 25%,
        rgb(255, 201, 0) 28%,
        rgb(255, 0, 95) 73%,
        rgb(255, 9, 237) 100%
      );
    }
  
    80% {
      background: linear-gradient(
        324deg,
        rgb(240, 238, 238) 0%,
        rgb(255, 255, 255) 25%,
        rgb(255, 201, 0) 28%,
        rgb(255, 0, 95) 73%,
        rgb(255, 9, 237) 100%
      );
    }
  
    90% {
      background: linear-gradient(
        360deg,
        rgb(240, 238, 238) 0%,
        rgb(255, 255, 255) 25%,
        rgb(255, 201, 0) 28%,
        rgb(255, 0, 95) 73%,
        rgb(255, 9, 237) 100%
      );
    }
  
    100% {
      background: linear-gradient(
        396deg,
        rgb(240, 238, 238) 0%,
        rgb(240, 238, 238) 25%,
        rgb(255, 201, 0) 28%,
        rgb(255, 0, 95) 73%,
        rgb(255, 9, 237) 100%
      );
    }
  }
  