.mainNews{
    border-bottom: 0.5px solid #717474;
}

.newsBox{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.heading{
    font-size: 15px;
}

.tagline, .mentions{
    font-size: 11px;
    color: #717474;
    margin-top: 15px;
}

.mentions{
    margin-top: 10px;
}