.homeContainer {
  display: flex;
  width: 100%;
  background-color: #191a1a;
  color: white;
}

.rightbarFollowButton {
  border: none;
  background-color: #1872f2;
  margin-left: 44%;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  width: 12%;
}

.rightbarFollowButton:focus {
  outline: none;
}
